.footer-container{
    background-color:black;
    padding: 15px 15px 50px;
    color: #ffffff;
}
.footer-inner-container img{
    height: 80px;
}

.footer-container p{
    color: #888888;
}

.footer-inner-container a{
    color: #F15B22;
    text-decoration: none;
}
.footer-inner-container a:hover{
    color: #ffffff;
    
}
.footer-inner-container p{
    margin: 0;
    font-size: 12px;
}
